@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header .navbar {
  background-color: rgb(255, 255, 255);
  --bs-bg-opacity: none;
}
header .navbar div a .imgLogo {
  height: 50px;
  width: 50px;
  transition: 0.5s all ease-in-out;
}
header .navbar div a .imgLogo:hover {
  transform: scale(1.2);
}
header .navbar div .navbar-toggler {
  border: none;
}
header .navbar div .navbar-toggler:focus {
  box-shadow: none;
}
header .navbar div .menu {
  flex-grow: 0;
}
header .navbar div .menu .navbar-nav {
  align-items: center;
}
header .navbar div .menu .navbar-nav .nav-item .nav-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 900;
  transition-property: color;
  transition-duration: 0.5s;
}
header .navbar div .menu .navbar-nav .nav-item .nav-link:hover {
  color: rgb(0, 122, 204);
}

/* FOOTER */
footer {
  background-color: #444444;
  height: 75px;
  display: flex;
  justify-content: center;
}
footer ul {
  list-style-type: none;
  display: flex;
  text-align: center;
}
footer ul .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  height: 35px;
  width: 35px;
  background-color: #ffffff;
  border-radius: 100%;
}
footer ul .dot .dot-in {
  text-decoration: none;
  height: 31px;
  width: 31px;
  background-color: #444444;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 1s;
}
footer ul .dot .dot-in:hover {
  background-color: #000000;
}
footer ul .dot .dot-in .icon {
  color: #ffffff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  BOARDS & TEAM  - INDEX */
main .index-grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "banner banner" "i-boards i-team";
}
main .index-grid .banner {
  grid-area: banner;
  height: 50vh;
  background-image: url(../media/background.jpg);
  background-size: cover;
  background-position: 50%;
}
main .index-grid .i-boards {
  grid-area: i-boards;
  height: 50vh;
  background-image: url(../media/boards.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .index-grid .i-boards .boards-team-btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 26px;
  font-weight: 500;
  background-color: transparent;
  border: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 16px 20px;
  transition-property: color;
  transition-duration: 0.5s;
  transition-property: background-color;
  transition-duration: 0.2s;
}
main .index-grid .i-boards .boards-team-btn:hover {
  color: black;
  background-color: white;
}
main .index-grid .i-team {
  grid-area: i-team;
  height: 50vh;
  background-image: url(../media/team.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .index-grid .i-team .boards-team-btn {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 26px;
  font-weight: 500;
  background-color: transparent;
  border: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  padding: 16px 20px;
  transition-property: color;
  transition-duration: 0.5s;
  transition-property: background-color;
  transition-duration: 0.2s;
}
main .index-grid .i-team .boards-team-btn:hover {
  color: black;
  background-color: white;
}

/*  SURFBOARDS  */
main .board-grid {
  background-color: rgb(232, 232, 232);
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "surf-1 surf-2" "surf-3 surf-4";
}
main .board-grid .surf-1 {
  grid-area: surf-1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400p;
}
main .board-grid .surf-1 .board-img {
  height: 380px;
}
main .board-grid .surf-2 {
  grid-area: surf-2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
main .board-grid .surf-2 .board-img {
  height: 380px;
}
main .board-grid .surf-3 {
  grid-area: surf-3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
main .board-grid .surf-3 .board-img {
  height: 380px;
}
main .board-grid .surf-4 {
  grid-area: surf-4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
main .board-grid .surf-4 .board-img {
  height: 380px;
}

/* TEAM */
main .card {
  background-color: rgb(232, 232, 232);
  border: none;
  border-radius: 0;
  align-items: center;
  padding-top: 10px;
}
main .card .team-member-1 {
  background-image: url(../media/team/DaneRaynolds.jpg);
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  background-size: contain;
}
main .card .team-member-2 {
  background-image: url(../media/team/bobby.jpg);
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  background-size: contain;
}
main .card .team-member-3 {
  background-image: url(../media/team/parker.jpg);
  background-repeat: no-repeat;
  color: white;
  height: 200px;
  width: 300px;
  background-size: contain;
}
main .card .team-member-4 {
  background-image: url(../media/team/lakey.jpg);
  background-repeat: no-repeat;
  height: 200px;
  width: 300px;
  background-size: contain;
}

/* QUERIES */
/* MAIN */
@media (max-width: 768px) {
  main .index-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: none;
    grid-template-areas: "banner" "i-boards" "i-team";
  }
}
@media (max-width: 480px) {
  main .index-grid .banner {
    background-image: url(../media/contact.jpg);
  }
  main .index-grid .i-team {
    background-position: 20%;
  }
}
/* SURFBOARDS */
@media (max-width: 768px) {
  main .board-grid {
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: none;
    grid-template-areas: "surf-1" "surf-2" "surf-3" "surf-4";
  }
}

/*# sourceMappingURL=style.css.map */
