/* ABOUT */

.about-content{
    display: flex;
    justify-content: center;
    background-color: nth($list: $bg-colors, $n:2 );
    .about{
        background-color: nth($list: $bg-colors, $n:2 );
        width: 70%;
        height: auto;
        align-content: center;
        padding: 10px 20px;
        .title{
            font-family: $about-font;
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 20px;
        }
        .about-text{
            font-family: $about-font;
            font-size: 16px;
            text-align: justify;
            color: black;
            font-weight: 600;
        }  
    }
}




