
/* HEADER */

header {
    .navbar {
        background-color: nth($list: $bg-colors, $n: 1 );
        --bs-bg-opacity: none;
        div {
            a {
                .imgLogo {
                    height: 50px;
                    width: 50px;
                    transition: 0.5s all ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
            .navbar-toggler {
                border: none;
                &:focus {
                    box-shadow: none; 
                }
            }
            .menu {
                flex-grow: 0;
                .navbar-nav {
                    align-items: center;
                    .nav-item {
                        .nav-link {
                            font-family: $principal-font;
                            text-decoration: none;
                            color: rgb(0, 0, 0);
                            font-size: 14px;
                            font-weight: 900;
                            transition-property: color;
                            transition-duration: 0.5s;
                            &:hover {
                                color: rgb(0, 122, 204);
                              }
                        }
                    }
                }
            }
        
        }
    }
}
